.header img{
    display:flex;
    min-width: 100vw;
    max-height: 50vh;
    
    
    
    

    
    
}

.nav ul{
    display:flex;
    justify-content: end;
}



.Work h1{

   

}



.projectcontainer img{
    display:flex;
    flex-wrap:wrap;
    padding: 10px;
    max-width: 900px;
    max-height: 500px;
    float:right;
}

.runbuddy img{
    display:flex;
    max-width: 750px;
    max-height: 500px;
    float:right;
}

.Surfreport img{
    display: flex;
    flex-wrap:wrap;
    float:right;
}


p{
    font-family: Arial, sans-serif;
    color: darkgreen;
    display:flex;
    flex-wrap:wrap;

}